<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrgj519.campusBBS.dao.PostMapper">

    <sql id="ref">
        id, user_id, title, content, type, status, create_time, comment_count, score , tag , cid
    </sql>

    <select id="selectByCid" resultType="Post">
        select <include refid="ref"/>
        from post
        where  status!=2
        and cid = #{cid}
        order by create_time DESC
        limit #{offset} , #{limit}
    </select>

    <select id="selectAllPostsCount" resultType="int">
        select count(*)
        from post
        where status != 2
    </select>

    <select id="selectAllPosts" resultType="Post">
        select <include refid="ref"/>
        from post
        where  status!=2
        order by create_time DESC
    </select>

    <select id="selectHotPosts" resultType="Post">
        select *
        from post
        where  status!=2
        order by score DESC
        limit 0,#{hotPostCount}
    </select>

    
    <insert id="insertPost" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        insert into post (user_id, title, content, type, status, create_time, comment_count, score , tag , cid)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score},#{tag},#{cid})
    </insert>

    <select id="selectPostsCount" resultType="Integer">
        select count(*)
        from post
        where status!=2
        and cid = #{cid}
    </select>

    <select id="selectPostById" resultType="Post">
        select * from post
        where id=#{id}
    </select>

    <!--查询所有帖子-->
    <select id="showPost" resultType="Post">
        select * from post
        <!--id user_id title content tag -->
    </select>
    <!--删除帖子-->
    <delete id="deletePost">
        delete from post where id = #{id}
    </delete>
    <!--更改帖子信息-->
    <update id="updatePost" parameterType="Post">
        update post
        set user_id=#{userId},type=#{type},status=#{status}
        where id = #{id}
    </update>
    <!--根据id查找帖子信息-->
    <select id="find" resultType="Post">
        select *
        from post
        where id = #{id}
    </select>
    <!--条件查询帖子-->
    <!--条件查询帖子-->
    <select id="findPost" resultType="Post" parameterType="Post">
        select * from post
        <where>
            <if test="id!=null and id!='' ">
                and id = #{id}
            </if>
            <if test="title!=null and title!='' ">
                and title like '%' #{title} '%'
            </if>
            <if test="tag!=null and tag!='' ">
                and tag like '%' #{tag} '%'
            </if>
        </where>
        order by id asc
        limit #{offset},#{limit}
    </select>


    <select id="selectPersonalPost" resultType="Post">
        select *
        from post
        where user_id = #{userId}
            limit #{offset},#{limit}
    </select>

    <select id="selectCountOfPost" resultType="int">
        select count(*)
        from post
        <where>
            <if test="id!=null and id!='' ">
                and id = #{id}
            </if>
            <if test="title!=null and title!='' ">
                and title like '%' #{title} '%'
            </if>
            <if test="tag!=null and tag!='' ">
                and tag like '%' #{tag} '%'
            </if>
        </where>
    </select>

    <select id="selectCountOfPersonalPost" resultType="int">
        select count(*)
        from post
        where user_id = #{userId}
    </select>

    <update id="updateCommentCount">
        update post set comment_count = #{count} where id = #{entityId}
    </update>

    <update id="updateScore">
        update post set score = #{score} where id = #{id}
    </update>

    <delete id="deleteByName">
        delete from post
        where title = #{name}
    </delete>
</mapper>