<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrgj519.campusBBS.dao.FileMapper">

    <sql id="ref">
        fid,file_name,create_time,download_times,gid,url
    </sql>

    <select id="selectAllFilesById" resultType="GroupFile">
        select <include refid="ref"/>
        from group_files
        where gid = #{gid}
        order by create_time desc
    </select>

    <insert id="insertFile" parameterType="GroupFile">
        insert into group_files (<include refid="ref"/>)
        values(#{fid}, #{fileName}, #{createTime}, #{downloadTimes}, #{gid}, #{url})
    </insert>

    <select id="selectFileByFileName" resultType="GroupFile">
        select <include refid="ref"/>
        from group_files
        where file_name = #{fileName}
    </select>

    <update id="updateFile">
        update group_files
        set url = #{url}
        where fid = #{fid}
    </update>
</mapper>