<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrgj519.campusBBS.dao.GroupMapper">

    <sql id="ref">
        gid,group_name,members,members_count,create_time,tag,group_leader,group_intro,group_header
    </sql>

    <select id="selectAll" resultType="Group">
        select <include refid="ref"/>
        from collaboration_group
        <if test="leaderName!=null">
            where group_leader = #{leaderName}
        </if>
        <if test="memberName!=null">
            where members like "%"#{memberName}"%"
        </if>
        order by create_time
        limit #{offset},#{limit}
    </select>

    <select id="selectGroupById" resultType="Group">
        select <include refid="ref"/>
        from collaboration_group
        where gid = #{gid}
    </select>


    <insert id="insertGroup" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
        insert into collaboration_group (<include refid="ref"/>)
        values(#{gid},#{groupName},#{members},#{membersCount},#{createTime},#{tag},#{groupLeader},#{groupIntro},#{groupHeader})
    </insert>

    <select id="selectGroupByName" resultType="Group">
        select <include refid="ref"/>
        from collaboration_group
        where group_name = #{groupName}
    </select>

    <select id="selectGroupCount" resultType="Integer">
        select count(*)
        from collaboration_group
    </select>
    <!--删除圈子-->
    <delete id="deleteGroup">
        delete from collaboration_group where gid = #{gid}
    </delete>
    <!--更改圈子信息-->
    <update id="updateGroup" parameterType="Group">
        update collaboration_group
        set group_leader=#{groupLeader},group_name=#{groupName}
        where gid = #{gid}
    </update>
    <!--根据gid查找圈子信息-->
    <select id="find" resultType="Group">
        select *
        from collaboration_group
        where gid = #{gid}
    </select>
    <!--条件查询圈子-->
    <select id="findGroup" resultType="Group" parameterType="Group">
        select * from collaboration_group
        <where>
            <if test="gid!=null and gid!='' ">
                and gid = #{gid}
            </if>
            <if test="groupName!=null and groupName!='' ">
                and group_name like '%' #{groupName} '%'
            </if>
            <if test="members!=null and members!='' ">
                and members like '%' #{members} '%'
            </if>
        </where>
        order by gid asc
    </select>

</mapper>