<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrgj519.campusBBS.dao.TagMapper">
    <select id="tagCount" resultType="Integer">
        select count(*)
        from tag
        where tag_name = #{tagName}
    </select>

    <insert id="insertTag">
        insert into tag (tag_name,post_id,post_count)
        values (#{tagName},#{postId},#{tagPostCount})
    </insert>

    <select id="selectPostsByTag" resultType="String">
        select post_id
        from tag
        where tag_name = #{tagName}
    </select>

    <update id="updateTagPost">
        update tag
        set post_id = #{postId}, post_count=#{tagPostCount}
        where tag_name = #{tagName};
    </update>

    <select id="selectHotTags" resultType="Tag">
        select *
        from tag
        ORDER BY post_count DESC
        limit 0,#{limit}
    </select>

    <!--删除-->
    <delete id="deleteTag">
        delete from tag where id = #{id}
    </delete>
    <!--更改-->
    <update id="updateTag" parameterType="Group">
        update tag
        set tag_name=#{tagName}
        where id = #{id}
    </update>
    <!--根据id查找信息-->
    <select id="find" resultType="Tag">
        select *
        from tag
        where id = #{id}
    </select>
    <!--条件查询-->
    <select id="findTag" resultType="Tag" parameterType="Tag">
        select * from tag
        <where>
            <if test="id!=null and id!='' ">
                and id = #{id}
            </if>
            <if test="tagName!=null and tagName!='' ">
                and tag_name like '%' #{tagName} '%'
            </if>
            <if test="postId!=null and postId!='' ">
                and post_id like '%' #{postId} '%'
            </if>
        </where>
        order by id asc
        limit #{offset},#{limit}
    </select>
    <select id="selectCountOfTag" resultType="int">
        select count(*)
        from tag
        <where>
            <if test="id!=null and id!='' ">
                and id = #{id}
            </if>
            <if test="tagName!=null and tagName!='' ">
                and tag_name like '%' #{tagName} '%'
            </if>
            <if test="postId!=null and postId!='' ">
                and post_id like '%' #{postId} '%'
            </if>
        </where>
    </select>
</mapper>