<aside class="col-sm-3 sidebar">
    <div class="blog-side">
        <div class="widget widget_categories block" style="visibility: visible;">
            <h2 class="widget-title">热门排行</h2>
            <ul class="one-page-checkout">
                <li class="section allow active" th:each="map,mapStat:${hotPosts}" th:if="${map.user!=null}">
                    <div class="step-title">
                        <span class="" th:text="${map.count}">
                            1
                        </span>
                        <!--此处显示头像-->
                        <div style="display:flex; margin-left: 20px">
                        <!--显示个人信息-->
                            <a title="" class="" th:href="@{'/user/profile/'+${map.user.id}}">
                                <img th:src="${map.user.headerUrl}" style="border-radius: 50%; height: 30px;height: 30px">
                            </a>
                           <a th:href="@{'/post/detail?id='+${map.post.id}}">
                               <h3 class="one_page_heading aside_text_style"  th:text="${map.post.title}">
                                abbbbbbbbbbbbbbbbbbbwqdiqobwffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                            </h3>
                        </div>


                    </div>
                    <span class="aside_text_style" style="margin-left: 30px;color: #868686" th:text="${map.post.content}">khnef;ouqjhfouqhfuoqbfgyuq9ibfqiyfvqyifbqiyvbqifyqviyqb</span>
                </li>

                <li class="section allow" th:each="map:${secondPosts}">
                    <div class="step-title">

                        <span th:text="${map.count}">
                            4
                        </span>
                        <!--此处显示头像-->
                        <div style="display:flex; margin-left: 20px">
                            <a title="" class="" th:href="@{'/user/profile/'+${map.user.id}}" th:if="${map.user!=null}">
                                <img th:src="${map.user.headerUrl}" style="border-radius: 50%; height: 30px;height: 30px">
                            </a>
                            <h3 class="one_page_heading aside_text_style"  th:text="${map.post.title}">
                                abbbbbbbbbbbbbbbbbbbwqdiqobwffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                            </h3>
                        </div>


                    </div>
                    <span class="aside_text_style"  style="margin-left: 30px;color: #868686" th:text="${map.post.content}">khnef;ouqjhfouqhfuoqbfgyuq9ibfqiyfvqyifbqiyvbqifyqviyqb</span>
                </li>
            </ul>

            <!--widget-content-->
        </div>
        <!--热门话题-->
        <div id="categories-2" class="widget widget_categories block hottopic" style="visibility: visible;" th:if="${hotTags!=null}">
            <h2 class="widget-title">热门话题</h2>
            <ul>
                <li th:each="tag:${hotTags}">
                    <a th:text="${'#'+tag.tagName}" th:href="@{/post/getPostsByTag(tagName=${tag.tagName})}">唱</a>
                    <span class="count" th:text="${tag.postCount}">2</span>
                </li>
            </ul>
        </div>
        <!-- Banner Ad Block -->
        <div class="custom-slider">
            <div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                </div>
            </div>
        </div>
    </div>
    <!-- Banner Text Block -->

    <div class="text-widget widget widget__sidebar block">
        <div>
            <a href="#">
                <img th:src="@{/images/ad-banner-1.jpg}" >
            </a>
        </div>
    </div>
</aside>