<aside class="col-sm-3 sidebar">
    <div class="blog-side">

        <div class="popular-posts widget block">
            <h2 class="widget-title">热门文章</h2>
            <ul class="posts-list unstyled clearfix">
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new1.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new2.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new3.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img  th:src="@{/products-images/new4.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
            </ul>

            <!--widget-content-->
        </div>
        <div id="categories-2" class="widget widget_categories block" style="visibility: visible;">
            <h2 class="widget-title">板块总结</h2>
            <ul>
                <li><a th:href="@{category.html}">唱</a> <span class="count">2</span></li>
                <li><a th:href="@{category.html}">跳</a> <span class="count">8</span></li>
                <li><a th:href="@{category.html}">rap</a> <span class="count">3</span></li>
                <li><a th:href="@{category.html}">篮球</a> <span class="count">7</span></li>
                <li><a th:href="@{category.html}">交友</a> <span class="count">4</span></li>
                <li><a th:href="@{category.html}">音乐</a> <span class="count">9</span></li>
                <li><a th:href="@{category.html}">健身</a> <span class="count">1</span></li>
                <li><a th:href="@{category.html}">文学</a> <span class="count">8</span></li>
            </ul>
        </div>
        <!-- Banner Ad Block -->
        <div class="custom-slider">
            <div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Text Block -->

    <div class="block widget_recent_entries">
        <h2 class="widget-title">最新发布</h2>
        <ul>
            <li> <a href="post-1.html">最近发布1</a> </li>
            <li> <a href="post-1.html">最近发布2</a> </li>
            <li> <a href="post-1.html">最近发布3</a> </li>
            <li> <a href="post-1.html">最近发布4</a> </li>
            <li> <a href="post-1.html">最近发布5</a> </li>
        </ul>
    </div>
</aside>