<aside class="col-sm-3 sidebar">
    <div class="blog-side">

        <div class="popular-posts widget block">
            <h2 class="widget-title">热门文章</h2>
            <ul class="posts-list unstyled clearfix">
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new1.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new2.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img th:src="@{/products-images/new3.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <figure class="featured-thumb"> <a href="post-1.html"> <img  th:src="@{/products-images/new4.jpg}"> </a> </figure>
                    <!--featured-thumb-->
                    <div class="content-info">
                        <h4><a href="post-1.html" title="Lorem ipsum dolor sit amet">热门文章的具体内容</a></h4>
                        <p class="post-meta">
                            <span class="entry-date">2022/7/6</span>
                        </p>
                    </div>
                </li>
            </ul>

            <!--widget-content-->
        </div>
        <div id="categories-2" class="widget widget_categories block" style="visibility: visible;" th:if="${hotTags!=null}">
            <h2 class="widget-title">热门话题</h2>
            <ul th:each="tag:${hotTags}">
                <li><a th:text="${tag.tagName}" th:href="@{/post/getPostsByTag(tagName=${tag.tagName})}">唱</a> <span class="count" th:text="${tag.postCount}">2</span></li>
            </ul>
        </div>
        <!-- Banner Ad Block -->
        <div class="custom-slider">
            <div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                </div>
            </div>
        </div>
    </div>
    <!-- Banner Text Block -->

    <div class="block widget_recent_entries">
        <h2 class="widget-title">最新发布</h2>
        <ul>
            <li> <a href="post-1.html">最近发布1</a> </li>
            <li> <a href="post-1.html">最近发布2</a> </li>
            <li> <a href="post-1.html">最近发布3</a> </li>
            <li> <a href="post-1.html">最近发布4</a> </li>
            <li> <a href="post-1.html">最近发布5</a> </li>
        </ul>
    </div>
</aside>