<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>campusBBS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Default Description">
<meta name="keywords" content="fashion, store, E-commerce">
<meta name="robots" content="*">
<link rel="icon" href="#" type="image/x-icon">
<link rel="shortcut icon" href="#" type="image/x-icon">

<!-- CSS Style -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
</head>
<style>
    .appear_ct{
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: box-shadow 0.2s;
    }
    .appear_ct:focus-within{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }

</style>
<div id="page">
    <div id="header"></div>
    <!-- BEGIN Main Container -->
    <div class="main-container col2-right-layout">
        <div class="col-main main-blog">
            <div class="blog-image">
                <picture>
                    <img th:src="@{images/category-bg.jpg}" alt="blog-img3">
                </picture>

                <div class="blog-image-content container">
                    <!--此处显示标签-->
                    <div>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                        <a class="tag " href="#" title="Fashion" style="margin-left: 20px">Technology</a>
                    </div>


                    <!--此处显示标题-->
                    <h1 th:text="${post.title}">测试显示</h1>
                    <ul class="post-meta">
                        <!--此处显示头像-->
                        <li>
                            <img th:src="${user.headerUrl}" alt="auther">
                            <!--此处显示用户名-->
                            <a href="#" th:text="${user.username}"> Karla Anderson  </a>
                        </li>
                        <!--此处显示点赞数量-->
                        <li>
                            <button onclick="changecolor1()" style="background-color: transparent;border-color: transparent;">
                                <div class="like">
                                    <i class="fa fa-heart"></i>
                                    <span>42</span>
                                </div>
                            </button>
                        </li>
                        <!--此处显示评论数量-->
                        <li><i class="fa fa-comments"></i><a href="#detail_commmentarea"><span>42</span>条评论</a></li>
                        <!--此处显示发布时间-->
                        <li><i class="fa fa-clock-o"><span th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')}"></span></i></li>
                    </ul>
                </div>
            </div>
            <div class="main container">
                <div class="row">
                    <div id="main" class="blog-post blog-post-1">
                        <article class="blog_entry clearfix">

                            <div class="entry-content">
                                <div class="thm-post">
                                    <p id="markdown-content">测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标测试多行是否覆盖点赞评论图标</p>
                                </div>
                                <div style="float: right">
                                    <ul class="post-meta">
                                        <!--此处显示点赞数量-->
                                        <li>
                                            <button onclick="changecolor1()" style="background-color: transparent;border-color: transparent;">
                                                <div class="like">
                                                    <i class="fa fa-heart"></i>
                                                    <span>42</span>
                                                </div>
                                            </button>
                                        </li>
                                        <!--此处显示评论数量-->
                                        <li><i class="fa fa-comments"></i><a href="#detail_commment"><span>42</span>条评论</a> </li>
                                    </ul>
                                </div>

                            </div>


                        </article>

                        <div class="comment-content">
                            <div class="comments-wrapper">
                                <a name="detail_commmentarea"></a>
                                <h3> 评论区 </h3>
                                <ol class="commentlist">
                                    <!--一条评论-->
                                    <li class="comment">
                                        <div>
                                            <!--评论区头像-->
                                            <img alt="" th:src="@{/images/member1.png}" class="avatar avatar-60 photo">
                                            <div class="comment-text">
                                                <p class="meta">
                                                    <!--用户头像-->
                                                    <strong>Devin</strong>
                                                    <!--评论日期-->
                                                    <span>–</span> <span>April 19, 2018</span>
                                                </p>
                                                <!--评论内容-->
                                                <div class="description">
                                                    <p>评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示
                                                        评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示评论内容显示</p>
                                                </div>
                                                <div style="float: right">
                                                    <ul class="post-meta">
                                                        <!--此处显示点赞数量-->
                                                        <li>
                                                            <button onclick="changecolor2()" style="background-color: transparent;border-color: transparent;">
                                                                <div class="like">
                                                                    <i class="fa fa-heart"></i>
                                                                    <span>42</span>
                                                                </div>
                                                            </button>
                                                        </li>
                                                        <!--此处显示评论数量-->
                                                        <li><i class="fa fa-comments"></i><a style="cursor: pointer " onclick="showComments()"><span>42</span>条评论</a> </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 15 15">
                                                                <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                                                            </svg>
                                                            <a onclick="showComment_reply()" style="cursor: pointer">
                                                                <!--显示评论数量-->
                                                                回复</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                                     <div id="Comment_reply">
                                                         <ul>
                                                        <li class="pb-3 pt-3" style="list-style-type: none">
                                                            <!--form表单原（<form method="post" th:action="@{|/comment/add/${post.id}|}">）-->
                                                            <form method="post">
                                                                <div style="display: flex;width: 100px">
                                                                    <div style="margin-left: 320px;display: flex">
                                                                        <div style="margin-right: 10px">
                                                                            <!--这里是用户头像-->
                                                                            <img th:src="@{/images/member1.png}" style="height: 40px;width: 40px;border-radius: 50%">
                                                                        </div>
                                                                        <input type="text" class="input-text" name="content" placeholder="请输入你的观点" style="border-radius: 5px; width: 350px"/>
                                                                        <input type="hidden" name="entityType" value="2">
                                                                        <!--评论id？原（<input type="hidden" name="entityId" th:value="${cvo.comment.id}">）-->
                                                                        <input type="hidden" name="entityId">
                                                                    </div>
                                                                    <div class="text-right mt-2" style="margin-left: 10px">
                                                                        <button type="submit" style="height: 42.8px;border: #b2b2b2 solid 1px;border-radius: 5px" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                                <div style="height: 10px"></div>
                                                            </form>
                                                        </li>
                                                         </ul>
                                                      </div>
                                        </div>
                                    </li><!-- #comment-## -->
                                    <!--显示回复框-->
                                    <div id="reply_comments" class="appear_ct">
                                        <ul class="list-unstyled mt-4 bg-gray p-3 font-size-12 text-muted" style="border:#cecece 1px solid;border-radius: 5px">
                                            <div style="display: flex;">
                                                <div style="width: 50px;height: 40px;"></div>
                                                <div style="width: 800px">
                                                    <div style="margin-top: 10px">
                                                        <!--进行判断原（<span th:if="${rvo.target!=null}">）-->
                                                  <span>
                                                      <img src="images/gdl.jpg" style="height: 35px;width: 35px;border-radius: 50%">
                                                      <!--获取用户id和name原（<a th:href="@{|/user/profile/${rvo.user.id}|}"
                                                           class="text-info" th:text="${rvo.user.username}">gdl</a>:）-->
                                                        <a class="text-info" >gdl</a>:
                                                    </span>
                                                        <!--回复评论原（<span th:utext="${rvo.reply.content}">这个是gdl评论devin的</span>）-->
                                                        <span>这个是gdl评论devin的</span>
                                                    </div>
                                                    <div class="mt-3">
                                                        <!--发表情评论时间原（<span th:text="${#dates.format(rvo.reply.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</span>）-->
                                                        <span>2019-04-15 15:32:18</span>
                                                        <div style="float: right">
                                                            <ul class="post-meta">
                                                                <!--此处显示点赞数量-->
                                                                <li>
                                                                    <button onclick="changecolor3()" style="background-color: transparent;border-color: transparent;">
                                                                        <div class="like">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span>42</span>
                                                                        </div>
                                                                    </button>
                                                                </li>
                                                                <!--此处显示评论数量-->
                                                                <li>
                                                                    <i class="fa fa-comments"></i>
                                                                    <a onclick="showReplyInput1()" style="cursor: pointer"><span>4</span>条评论</a>
                                                                </li>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 15 15">
                                                                        <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                                                                    </svg>
                                                                    <a onclick="showReplyInput1()" style="cursor: pointer">
                                                                        <!--显示评论数量-->
                                                                        回复</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div style="height: 10px"></div>
                                                        <div id="reply_input1">
                                                            <li class="pb-3 pt-3">
                                                                <!--表单action原（<form method="post" th:action="@{|/comment/add/${post.id}|}">）-->
                                                                <form method="post">
                                                                    <div style="display: flex;width: 100px">
                                                                        <div style="margin-left: 320px;display: flex">
                                                                            <div style="margin-right: 10px">
                                                                                <!--这里是用户头像-->
                                                                                <img th:src="@{/images/member1.png}" style="height: 40px;width: 40px;border-radius: 50%">
                                                                            </div>
                                                                            <input type="text" class="input-text" name="content" placeholder="请输入你的观点" style="border-radius: 5px; width: 350px"/>
                                                                            <input type="hidden" name="entityType" value="2">
                                                                            <!--回复id？原（<input type="hidden" name="entityId" th:value="${cvo.comment.id}">）-->
                                                                            <input type="hidden" name="entityId">
                                                                        </div>
                                                                        <div class="text-right mt-2" style="margin-left: 10px">
                                                                            <button type="submit" style="height: 42.8px;border: #b2b2b2 solid 1px;border-radius: 5px" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                                                        </div>
                                                                    </div>
                                                                    <div style="height: 10px"></div>
                                                                </form>
                                                            </li>
                                                        </div>

                                                        <hr>
                                                        <div style="margin-top: 10px">
                                                            <!--判断原（<span th:if="${rvo.target!=null}">）-->
                                                  <span>
                                                      <img th:src="@{/images/member1.png}" style="height: 35px;width: 35px;border-radius: 50%">
                                                      <!--回复idusername 原 （<a th:href="@{|/user/profile/${rvo.user.id}|}"
                                                           class="text-info" th:text="${rvo.user.username}">devin</a>回复
                                                        <a th:href="@{|/user/profile/${rvo.target.id}|}"
                                                           class="text-info" th:text="${rvo.target.username}">gdl</a>:&nbsp;&nbsp;）-->
                                                        <a class="text-info">devin</a>回复
                                                        <a class="text-info">gdl</a>:&nbsp;&nbsp;
                                                    </span>
                                                            <!--回复内容原（<span th:utext="${rvo.reply.content}">这是楼主回复gdl或其他人回复gdl</span>）-->
                                                            <span>这是楼主回复gdl或其他人回复gdl</span>
                                                        </div>
                                                        <div class="mt-3">
                                                            <!--回复时间原（<span th:text="${#dates.format(rvo.reply.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</span>）-->
                                                            <span>2019-04-15 15:32:18</span>
                                                            <div style="float: right">
                                                                <ul class="post-meta">
                                                                    <!--此处显示点赞数量-->
                                                                    <li>
                                                                        <button onclick="changecolor4()" style="background-color: transparent;border-color: transparent;">
                                                                            <div class="like">
                                                                                <i class="fa fa-heart"></i>
                                                                                <span>42</span>
                                                                            </div>
                                                                        </button>
                                                                    </li>
                                                                    <!--此处显示评论数量-->
                                                                    <li>
                                                                        <i class="fa fa-comments"></i>
                                                                        <a onclick="showReplyInput2()" style="cursor: pointer">
                                                                            <!--显示评论数量-->
                                                                            <span>4</span>条评论</a>
                                                                    </li>
                                                                    <li>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 15 15">
                                                                            <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                                                                        </svg>
                                                                        <a onclick="showReplyInput2()" style="cursor: pointer">
                                                                            <!--显示评论数量-->
                                                                            回复</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div style="height: 10px"></div>
                                                        <!-- 回复输入框 -->
                                                        <div id="reply_input2">
                                                            <li class="pb-3 pt-3">
                                                                <!--form表单原（<form method="post" th:action="@{|/comment/add/${post.id}|}">）-->
                                                                <form method="post">
                                                                    <div style="display: flex;width: 100px">
                                                                        <div style="margin-left: 320px;display: flex">
                                                                            <div style="margin-right: 10px">
                                                                                <!--这里是用户头像-->
                                                                                <img th:src="@{/images/member1.png}" style="height: 40px;width: 40px;border-radius: 50%">
                                                                            </div>
                                                                            <input type="text" class="input-text" name="content" placeholder="请输入你的观点" style="border-radius: 5px; width: 350px"/>
                                                                            <input type="hidden" name="entityType" value="2">
                                                                            <!--评论id？原（<input type="hidden" name="entityId" th:value="${cvo.comment.id}">）-->
                                                                            <input type="hidden" name="entityId">
                                                                        </div>
                                                                        <div class="text-right mt-2" style="margin-left: 10px">
                                                                            <button type="submit" style="height: 42.8px;border: #b2b2b2 solid 1px;border-radius: 5px" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                                                        </div>
                                                                    </div>
                                                                    <div style="height: 10px"></div>
                                                                </form>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </div>
                                        </ul>
                                    </div>
                                    <!--二条评论-->
                                </ol>
                            </div>


                            <div class="comments-form-wrapper comment-respond appear_ct">
                                <a name="detail_commment"></a>
                                <h3>留下您的观点</h3>
                                <p class="comment-notes">
                                    <span id="email-notes">请遵守社区条约，文明发言噢！</span>
                                </p>
                                <form class="comment-form" method="post" id="postComment">
                                    <div class="field aw-blog-comment-area">
                                        <label for="comment">Comment<em class="required">*</em></label>
                                        <textarea rows="5" cols="50" class="input-text" title="Comment" id="comment" name="comment" placeholder="评论"></textarea>
                                    </div>
                                    <div class="button-set">
                                        <input type="hidden" value="1" name="blog_id">
                                        <button type="submit" class="bnt-comment"><span><span>发表评论</span></span></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!--#main wrapper grid_8-->

                </div>

            </div>
        </div>


    </div>
    <!--col2-layout-->
</div>


    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/revslider.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/include.js}"></script>
    <script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
    <script th:src="@{/js/countdown.js}"></script>
    <script th:src="@{/js/detail-style.js}"></script>
    <div id="footer"></div>

    <script src="https://cdn.bootcdn.net/ajax/libs/marked/4.0.17/marked.min.js"></script>
<script>
  
    $(function(){
            function getQueryString(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            }
            var id = getQueryString("id");
            $.post(
                CONTEXT_PATH + "/post/getPostContent",
                {id:id},
                function (data){
                    document.getElementById("markdown-content").innerHTML = marked.parse(data)
                }
            )
        }
    );
</script>
<!-- JavaScript -->
<style type="text/css">
    .active{
        color: red;
    }
</style>
</body>
</html>