<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Post Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Default Description">
<meta name="keywords" content="fashion, store, E-commerce">
<meta name="robots" content="*">
<link rel="icon" href="#" type="image/x-icon">
<link rel="shortcut icon" href="#" type="image/x-icon">

<!-- CSS Style -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all">
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
</head>
<body>
<div id="page">
	<div id="header"></div>
  <!-- BEGIN Main Container -->
  <div class="main-container col2-right-layout">
        <div class="col-main main-blog">
        <div class="blog-image">
        <picture>
           <img th:src="@{/products-images/p1.jpg}" alt="blog-img3">
        </picture>

        <div class="blog-image-content container">
        <a class="tag " href="#" title="Fashion">Technology</a>
           
            <h1 th:text="${post.title}">Icon internet world in the hands of a businessman network technology and communication</h1>
            <ul class="post-meta">
                        <li><img th:src="${user.headerUrl}"  alt="auther"> <a href="#" th:text="${user.username}"> Karla Anderson  </a> </li>
                        <li><i class="fa fa-comments"></i><a href="#" th:text="${post.commentCount}">42 comments</a> </li>
                        <li th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')}"><i class="fa fa-clock-o"></i>Feb 07, 2021</li>
                      </ul>
        </div>
    </div>
        <div class="main container">
      <div class="row">
          <div id="main" class="blog-post blog-post-1">
            <article class="blog_entry clearfix">
                    
              <div class="entry-content">
 <div class="thm-post">
<p id="markdown-content">Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend. Nunc pretium velit sed augue luctus accumsan.</p>
</div>			
</div>


				</article>
      
            <div class="comment-content">
                    <div class="comments-wrapper">
                      <h3> Comments </h3>
                      <ol class="commentlist">
<li class="comment">
<div>
<img alt="" th:src="@{/images/member1.png}" class="avatar avatar-60 photo">
<div class="comment-text">
<div class="ratings">
                      <div class="rating-box">
                        <div style="width:100%" class="rating"></div>
                      </div>
                      
                    </div>
<p class="meta">
<strong>John Doe</strong> 
<span>–</span> <span>April 19, 2018</span>
</p>
<div class="description"><p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p>Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
</div>
</div>
</div>
</li><!-- #comment-## -->
<li class="comment">
<div>
<img alt="" th:src="@{images/member2.png}" class="avatar avatar-60 photo">
<div class="comment-text">
<div class="ratings">
                      <div class="rating-box">
                        <div style="width:100%" class="rating"></div>
                      </div>
                      
                    </div>
<p class="meta">
<strong>Stephen Smith</strong> <span>–</span> <span>June 02, 2018</span>
</p>
<div class="description"><p>Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</li><!-- #comment-## -->
</ol>
                      <!--commentlist--> 
                    </div>
                    <!--comments-wrapper-->
                    
                    <div class="comments-form-wrapper comment-respond">
                      <h3>Leave A reply</h3>
                      <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked</p>
                      <form class="comment-form" method="post" id="postComment">
			              <div class="field aw-blog-comment-area">
                          <label for="comment">Comment<em class="required">*</em></label>
                          <textarea rows="5" cols="50" class="input-text" title="Comment" id="comment" name="comment" placeholder="Comment"></textarea>
                        </div>
                        <div class="button-set">
                          <input type="hidden" value="1" name="blog_id">
                          <button type="submit" class="bnt-comment"><span><span>Add Comment</span></span></button>
                        </div>
                      </form>
                    </div>
                                 
                  </div>
          </div>
          <!--#main wrapper grid_8--> 
          
        </div>

      </div>
    </div>

    
  </div>
  <!--col2-layout--> 

<!-- JavaScript --> 
<script th:src="@{/js/jquery-3.5.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/revslider.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/include.js}"></script>
<script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
    <div id="footer"></div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/marked/4.0.17/marked.min.js"></script>
<script>
  
    $(function(){
            function getQueryString(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            }
            var id = getQueryString("id");
            $.post(
                CONTEXT_PATH + "/post/getPostContent",
                {id:id},
                function (data){
                    document.getElementById("markdown-content").innerHTML = marked.parse(data)
                }
            )
        }
    );
</script>
</html>