<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="social">
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 coppyright">Copyright &copy; 2021.Company name All rights reserved.CampusBBS</div>
          <div class="col-xs-12 col-sm-4">
            <div class="payment-accept"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN SIMPLE FOOTER --> 
  </footer>