<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Category Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/yellow.css}">




</head>
<body>
    <div id="page">
        <div id="header"></div>
        <!--breadcrumbs-->
        <!-- BEGIN Main Container col2-left -->
        <section class="main-container col2-left-layout bounceInUp animated">
            <!-- For version 1, 2, 3, 8 -->
            <!-- For version 1, 2, 3 -->
            <div class="container">
                <div class="row">
                    <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                        <div class="pro-coloumn box-content box-category">
                            <!--这里是个人页面具体信息-->
                            <ul class="nav nav-pills nav-stacked">
                                <div>
                                    <div style="color: #898989;margin-left: 15px;">
                                        <h3><i style="margin-right: 5px;">系统通知</i>:</h3>
                                    </div>
                                    <hr width="980px">
                                    <!--展示一条系统通知start-->
                                    <li class="section allow active">
                                        <div>
                                            <div class="step-title" style="display:flex;margin-left: 50px;border-bottom: 15px">
                                                <div style="display: flex;">
                                                    <div style="margin-left: 25px;width: auto;">
                                                        <!--显示通知标题-->
                                                        <b>这里是通知的标题这里是通知的标题这里是通知的标题</b>
                                                    </div>
                                                    <!--发表时间、评论、点赞显示-->
                                                    <div style="margin-left: 25px;">
                                                        <div style="display: flex">
                                                            <div style="margin-right: 5px;margin-right: 5px;">
                                                                <i class="fa fa-clock-o"></i>
                                                                <!--发表评论时间-->
                                                                <span>2022-07-05 18:08:55</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!--文章的内容通知-->
                                            <div style="width: 800px;height: auto;margin-left: 70px">
                                                <span>testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试</span>
                                            </div>
                                        </div>
                                        <hr width="980px">
                                    </li>
                                    <!--展示一条系统通知end-->
                                    <!--展示一条系统通知start-->
                                    <li class="section allow active">
                                        <div>
                                            <div class="step-title" style="display:flex;margin-left: 50px;border-bottom: 15px">
                                                <div style="display: flex;">
                                                    <div style="margin-left: 25px;width: auto;">
                                                        <!--显示通知标题-->
                                                        <b>这里是通知的标题这里是通知的标题这里是通知的标题</b>
                                                    </div>
                                                    <!--发表时间、评论、点赞显示-->
                                                    <div style="margin-left: 25px;">
                                                        <div style="display: flex">
                                                            <div style="margin-right: 5px;margin-right: 5px;">
                                                                <i class="fa fa-clock-o"></i>
                                                                <!--发表评论时间-->
                                                                <span>2022-07-05 18:08:55</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!--文章的内容通知-->
                                            <div style="width: 800px;height: auto;margin-left: 70px">
                                                <span>testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试testtest测试</span>
                                            </div>
                                        </div>
                                        <hr width="980px">
                                    </li>
                                    <!--展示一条系统通知end-->
                                </div>
                                <!--分页-->
                                <div class="pager">
                                    <div class="pages">
                                        <!--<strong></strong>-->
                                        <ol class="pagination">
                                            <li class="active"><a href="">1</a></li>
                                            <li><a href="">2</a></li>
                                            <li><a href="">3</a></li>
                                            <li><a href="">4</a></li>
                                            <li><a href="">5</a></li>
                                            <li><a href="">6</a></li>
                                            <li> <a class="next i-next" href="" title="Next"> » </a> </li>
                                        </ol>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <!--	///*///======    End article  ========= //*/// -->
                    </div>
                    <div id="message_center_aside"></div>
                    <!--col-right sidebar-->
                </div>
                <!--row-->
            </div>
            <!--container-->
        </section>
    </div>
    </div>
    <div id="footer"></div>
    <script type="text/javascript">
        //点击评论图标或字事件
        function showMessageInput(){
            var showCommentdiv = document.getElementById("message_input").style.display;
            if (showCommentdiv == "none"){
                document.getElementById("message_input").style.display="block";
            }else{
                document.getElementById("message_input").style.display="none";
            }
        }
    </script>
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/revslider.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
    <script th:src="@{/js/countdown.js}"></script>
    <script th:src="@{/js/include.js}"></script>
    <script th:src="@{/js/setting.js}"></script>
    <script th:src="@{/js/jquery.icheck.js}"></script>
</body>
</html>