<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Category Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/yellow.css}">




</head>
<body>
    <div id="page">
        <div id="header"></div>
        <!--breadcrumbs-->
        <!-- BEGIN Main Container col2-left -->
        <section class="main-container col2-left-layout bounceInUp animated">
            <!-- For version 1, 2, 3, 8 -->
            <!-- For version 1, 2, 3 -->
            <div class="container">
                <div class="row">
                    <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                        <div class="pro-coloumn box-content box-category" style="text-align: center">
                            <!--这里是个人页面具体信息-->
                            <ul class="nav nav-pills nav-stacked">
                                <div>
                                    <li class="section allow active">
                                        <div>
                                            <div class="step-title" style="display:flex;margin-left: 100px;border-bottom: 15px">
                                                <!--此处显示头像-->
                                                <div style=" margin-left: 20px">
                                                    <a th:href="@{/user/personalPage(id=${user.id})}">
                                                        <img th:src="${user.headerUrl}" style="border-radius: 50%; height: 80px;height: 80px">
                                                    </a>

                                                </div>
                                                <div>
                                                    <h3 class="one_page_heading" style="margin-left: 25px">
                                                        <!--昵称显示-->
                                                        <span th:text="${user.username}"></span>
                                                    </h3>
                                                    <!--个性签名显示-->
                                                    <p style="margin-left: 25px;width: 200px;text-overflow: ellipsis;overflow: hidden"><span th:text="${user.signature}"></span></p>
                                                    <!--标签显示-->
                                                    <div style="margin-left: 25px" class="personal_page_span_style">

                                                        <span th:text="'#'+${user.interest}"></span>
                                                    </div>

                                                </div>
                                                <div style="text-align: center;vertical-align: middle;width: 300px;height: 104px;">
                                                    <ul class="nav nav-pills nav-stacked" style="margin-top: 35px; width: 600px">
                                                        <li style="width: 90px;border-radius: 10%;text-align: center;display: inline-block">
                                                            <!--去set的链接-->
                                                            <a style="cursor: pointer;color:#7a7a7a" href="center.html">
                                                                <i class="glyphicon glyphicon-cog"></i>
                                                                修改信息
                                                            </a>
                                                        </li>
                                                        <li style="width: 70px;border-radius: 10%;text-align: center;display: inline-block">
                                                            <!--去私信的链接-->
                                                            <a style="cursor: pointer;color: #7a7a7a">
                                                                <i class="fa fa-envelope"></i>
                                                                私信
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr style="width: 600px;margin-top: 10px">
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <!--	///*///======    End article  ========= //*/// -->
                    </div>

                    <aside_left class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                        <!-- BEGIN SIDE-NAV-CATEGORY -->
                        <div class="side-nav-categories">
                            <div class="block-title"> 个人中心 </div>
                            <!--block-title-->
                            <!-- BEGIN BOX-CATEGORY -->
                            <div class="box-content box-category">
                                <ul class="nav nav-pills nav-stacked" style="max-width: 320px;  ">
                                    <li class="">
                                        <a href="profile_set.html">
                                            <span class="badge pull-right">42</span>
                                            个人信息
                                        </a>
                                    </li>
                                    <li>
                                        <!--                    <i th:text="${user.id}"></i>-->
                                        <!--                    <a th:href="|@{/post/personalPost(userId=${user?.id})}|">-->
                                        <a th:href="@{/post/personalPost(userId=${user.id})}">
                                            <!--                    <a href="personal_post.html">-->
                                            <span class="badge pull-right">3</span>
                                            发布内容
                                        </a>
                                    </li>
                                    <li>
                                        <a href="personal_publish.html">
                                            <span class="badge pull-right">3</span>
                                            点赞
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/group/personalGroup(members=${user.username})}">
                                            <span class="badge pull-right">3</span>
                                            圈子
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--box-content box-category-->
                        </div>
                    </aside_left>

                    <!--col-right sidebar-->
                </div>
                <!--row-->
            </div>
            <!--container-->
        </section>
    </div>
    </div>
    <div id="footer"></div>
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/revslider.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
    <script th:src="@{/js/countdown.js}"></script>
    <script th:src="@{/js/include.js}"></script>
    <script th:src="@{/js/setting.js}"></script>
    <script th:src="@{/js/jquery.icheck.js}"></script>
</body>
</html>