<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Category Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/yellow.css}">




</head>
<body>
<div id="header"></div>
<!--breadcrumbs-->
<!-- BEGIN Main Container col2-left -->
<section class="main-container col2-left-layout bounceInUp animated">
    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <!--这里是个人中心发布内容的信息(点赞信息)展示begin-->
                <div class="pro-coloumn box-content box-category grid-sidebar-block">
                    <div class="main-block-1">
                        <div class="cate-heading">
                            <h2 style="background-color: #ed6663">发布内容</h2>
                        </div>
                        <div class="grid-2">
                            <div class="grid-block">
                                <ul class="posts-list unstyled clearfix">
                                    <li th:each="map:${posts}">
                                        <figure class="featured-thumb">
                                            <a th:href="@{category.html}"></a>
                                        </figure>
                                        <div class="content-info" >
                                            <!--标签样式-->
                                            <div class="blog_entry-header-inner" th:if="${map.tags}!=null">
                                                <div style="display: flex">
                                                    <div style="margin-right: 10px" th:each="tag:${map.tags}">
                                                        <a class="tag " href="#" title="Fashion" th:text="${tag}">Technology</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>
                                                <a th:href="@{/post/detail(id=${map.post.id})}" th:text="${map.post.title}" title="Lorem ipsum dolor sit amet">
                                                </a>
                                            </h4>
                                            <div class="post_meta" style="display: flex">
                                                <!--头像-->
                                                <div style="width: 120px;display: flex;">
                                                    <div>
                                                        <img th:src="${user.headerUrl}" style="width: 35px;height: 35px; border-radius: 50%">
                                                    </div>
                                                    <div style="margin-left: 5px">
                                                        <a href="#" style="color: #898989" th:text="${user.username}">Smith John </a>
                                                    </div>
                                                </div>
                                                <div style="width: 120px; height: 35px;margin-top: 5px">
                                                    <div style="margin-top: 4px">
                                                        <i class="fa fa-heart-o"></i>
                                                        <!--点赞数量-->
                                                        <span class="chart_margin" th:text="${map.likeCount}">521</span>
                                                    </div>
                                                </div>
                                                <div style="width: 120px;height: 35px;margin-top: 5px">
                                                    <div style="margin-top: 4px">
                                                        <i class="fa fa-comment"></i>
                                                        <!--评论数量-->
                                                        <span class="chart_margin" th:text="${map.commentCount}">50</span>
                                                    </div>
                                                </div>
                                                <div style="height: 35px;margin-top: 5px">
                                                    <div style="margin-top: 4px;">
                                                        <i class="fa fa-clock-o"></i>
                                                        <!--发表时间-->
                                                        <span class="chart_margin" th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">12 May 2020</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--文章部分，超出两行多余使用省略号隐藏-->
                                            <div class="index_text_style">
                                                <p th:text="${map.post.content}"></p>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pager">
                    <div class="pages">
                        <!--<strong></strong>-->
                        <ol class="pagination">
                            <li class="page-item">
                                <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                            </li>
                            <li th:class="|page-item ${page.current==1?'disabled':''}|">
                                <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
                            <!--						page对象中的from和to决定了导航条的页面数量-->
                            <li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from,page.to)}">
                                <a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
                            </li>
                            <li th:class="|page-item ${page.current==page.total?'disabled':''}|">
                                <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
            <aside_left class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9" th:replace="~{/site/personal_page::aside}">
                <!-- BEGIN SIDE-NAV-CATEGORY -->
                <div class="side-nav-categories">
                    <div class="block-title"> 个人中心 </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <div class="box-content box-category">
                        <ul class="nav nav-pills nav-stacked" style="max-width: 320px;  ">
                            <li class="">
                                <a th:href="|@{'/user/profile/'+${user.id}}|">
<!--                                    <span class="badge pull-right">42</span>-->
                                    个人信息
                                </a>
                            </li>
                            <li>
                                <!--                    <i th:text="${user.id}"></i>-->
                                <!--                    <a th:href="|@{/post/personalPost(userId=${user?.id})}|">-->
                                <a th:href="@{/post/personalPost(userId=${userId})}">
                                    <!--                    <a href="personal_post.html">-->
<!--                                    <span class="badge pull-right">3</span>-->
                                    发布内容
                                </a>
                            </li>
                            <li>
                                <a href="personal_publish.html">
<!--                                    <span class="badge pull-right">3</span>-->
                                    点赞
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/group/personalGroup(members=${user.username})}">
<!--                                    <span class="badge pull-right">3</span>-->
                                    圈子
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/user/message}">
<!--                                    <span class="badge pull-right">13</span>-->
                                    私信
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--box-content box-category-->
                </div>
            </aside_left>
            </div>

        </div>

        </section>
    </div>
    </div>
    <div id="footer"></div>
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/revslider.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.mobile-menu.min.js}"></script>
    <script th:src="@{/js/countdown.js}"></script>
    <script th:src="@{/js/include.js}"></script>
    <script th:src="@{/js/setting.js}"></script>
    <script th:src="@{/js/jquery.icheck.js}"></script>
</body>
</html>