<aside_left class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
    <!-- BEGIN SIDE-NAV-CATEGORY -->
    <div class="side-nav-categories">
        <div class="block-title"> 个人中心 </div>
        <!--block-title-->
        <!-- BEGIN BOX-CATEGORY -->
        <div class="box-content box-category">
            <ul class="nav nav-pills nav-stacked" style="max-width: 320px;  ">
                <li class="">
                    <a href="profile_set.html">
                        <span class="badge pull-right">42</span>
                        个人信息
                    </a>
                </li>
                <li>
<!--                    <i th:text="${user.id}"></i>-->
<!--                    <a th:href="|@{/post/personalPost(userId=${user?.id})}|">-->
                    <a th:href="@{/post/personalPost(userId=${user?.id})}">
<!--                    <a href="personal_post.html">-->
                        <span class="badge pull-right">3</span>
                        发布内容
                    </a>
                </li>
                <li>
                    <a href="personal_publish.html">
                        <span class="badge pull-right">3</span>
                        点赞
                    </a>
                </li>
                <li>
                    <a href="personal_publish.html">
                        <span class="badge pull-right">3</span>
                        圈子
                    </a>
                </li>
            </ul>
        </div>
        <!--box-content box-category-->
    </div>
</aside_left>
