<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>标签管理页面</title>
    <link rel="stylesheet" th:href="@{/css/style.default.css}" type="text/css" />
    <script type="text/javascript" th:src="@{js/plugins/jquery-1.7.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery-ui-1.8.16.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.uniform.min.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/general.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/tables.js}"></script>

</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Campus<span>.BBS</span></h1>
            <span class="slogan">后台管理系统</span>
            <br clear="all" />
        </div><!--left-->
        <div class="right">

            <!--管理员登陆信息 -->

            <div class="userinfodrop">            	<div class="avatar">
                	<a href=""><img src="images/thumbs/avatarbig.png" alt="" /></a>
                    <div class="changetheme">
                    	Change theme: <br />
                    	<a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
<div class="userdata">
                	<h4>Juan Dela Cruz</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                    	<li><a href="editprofile.html">Edit Profile</a></li>
                        <li><a href="accountsettings.html">Account Settings</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="index.html">Sign Out</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li><a a th:href="@{/admin/tags}"><span class="icon icon-flatscreen"></span>表管理</a></li>

        </ul>
        

        
    </div><!--header-->
    
    <div class="vernav2 iconmenu">
    	<ul>
            <li><a th:href="@{/admin/users}" class="tables">用户账号管理</a></li>
            <li><a th:href="@{/admin/posts}" class="tables">帖子管理</a></li>
            <li ><a th:href="@{/admin/groups}" class="tables">圈子管理</a></li>
            <li class="current"><a th:href="@{/admin/tags}" class="tables">标签管理</a></li>
        </ul>
        <br /><br />
    </div><!--leftmenu-->
        
    <div class="centercontent tables">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">标签管理</h1>
            <span class="pagedesc">Tag Management</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
                        
          <div class="contenttitle2">
            <h3 >修改标签信息</h3>
          </div><!--contenttitle-->

            <form th:action="@{/updateTag}" method="post" enctype="multipart/form-data">
                <table class="form_table" style = "border-collapse:separate; border-spacing:10px;font-size: 15px">
                    <tr class="msg" style="margin-top: 15px">
                        <td valign="middle" align="left">
                         <text style="font-weight: bold">标签ID&nbsp;: &nbsp;</text>
                            <span th:text="${tag.id}" /> </td>
                        <input type="hidden" name="id" th:value="${tag.id}">
                    </tr>
                    <tr class="msg">
                        <td valign="middle" align="left">
                            <text style="font-weight: bold">标签名称&nbsp;: &nbsp;  </text>
                        <input type="text" name="tagName" th:value="${tag.tagName}">

                    </tr>
                    <tr class="msg">
                        <div >
                        <td valign="middle" align="left">
                            <text style="font-weight: bold">标签下帖子ID&nbsp;: &nbsp;</text>
                            <span th:text="${tag.postId}" /> </td>
                            <input type="hidden" name="postId" th:value="${tag.postId}"/>  </td>
                        </div>
                    </tr>
                    <tr class="msg">
                        <td valign="middle" align="left" style="width: 650px">
                           <text style="font-weight: bold">标签下帖子数&nbsp;: &nbsp;</text>
                            <span th:text="${tag.postCount}"/> </td>
                            <input type="hidden" th:value="${tag.postCount}" name="content" />  </td>
                    </tr>
                </table>
                <button type="submit" onclick="updategroup()" style="background-color: rgb(251,225,34);width: 100px;height: 40px;border-color: #FFFFFF;border-radius: 10px;margin-left: 20px">提&nbsp;交</button>
                <a th:href="@{/admin/tags}" class="tables">
                    <button style="background-color: rgb(251,225,34);width: 100px;height: 40px;border-color: #FFFFFF;border-radius: 10px;margin-left: 20px">返&nbsp;回</button></a>
            </form>

        </div><!--contentwrapper-->


	</div><!-- centercontent -->

    
</div><!--bodywrapper-->
<style type="text/css">
    .my-input {
        color: #66757f;
        display: inline-block;
        height: 40px;
        min-width: 20px;
        max-width: 300px;
    }

</style>
</body>
<script>

    function updategroup(){
        if(confirm("确实要更改圈子信息吗?")){
            alert("更改成功！");
        }else{
            event.preventDefault(); //取消默认应答
            alert("取消更改");
        }
    }
</script>
<style type="text/css">
    .form_table .msg text{
        font-width: bold;
    }
</style>

</html>
