<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户管理页面</title>
    <link rel="stylesheet" th:href="@{/css/style.default.css}" type="text/css" />
    <script type="text/javascript" th:src="@{js/plugins/jquery-1.7.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery-ui-1.8.16.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.uniform.min.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/general.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/tables.js}"></script>

</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Campus<span>.BBS</span></h1>
            <span class="slogan">后台管理系统</span>
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
        	<!--<div class="notification">
                <a class="count" href="notifications.html"><span>9</span></a>
        	</div>
			-->
            <div class="userinfo">
            	<img src="images/thumbs/avatar.png" alt="" />
                <span>Juan Dela Cruz</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">            	<div class="avatar">
                	<a href=""><img src="images/thumbs/avatarbig.png" alt="" /></a>
                    <div class="changetheme">
                    	Change theme: <br />
                    	<a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
<div class="userdata">
                	<h4>Juan Dela Cruz</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                    	<li><a href="editprofile.html">Edit Profile</a></li>
                        <li><a href="accountsettings.html">Account Settings</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="index.html">Sign Out</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li><a  th:href="@{/admin/users}"><span class="icon icon-flatscreen"></span>表管理</a></li>
            <!-- <li><a href="manageblog.html"><span class="icon icon-pencil"></span>Manage Blog</a></li>
            <li><a href="messages.html"><span class="icon icon-message"></span>Messages</a></li>
            <li><a href="reports.html"><span class="icon icon-chart"></span>Reports</a></li> -->
        </ul>
        

        
    </div><!--header-->
    
    <div class="vernav2 iconmenu">
    	<ul>
            <li class="current"><a th:href="@{/admin/users}" class="tables">用户账号管理</a></li>
            <li><a th:href="@{/admin/posts}" class="buttons">帖子管理</a></li>
            <li><a th:href="@{/admin/groups}" class="tables">圈子管理</a></li>
        </ul>
        </ul>
        <br /><br />
    </div><!--leftmenu-->
        
    <div class="centercontent tables">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">用户账号管理</h1>
            <span class="pagedesc">User Account Management</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
                        
          <div class="contenttitle2">
            <h3 >用户表</h3>
          </div><!--contenttitle-->

          <div >
              <form  th:action="@{/admin/users}" method="post" class="tableoptions" style="position: center">
              <input type="text" placeholder="请输入用户ID" name="id" id="id" style="width: 150px">
              <input type="text" placeholder="请输入用户名" name="username" id="username" style="width: 150px; margin-left: 20px">
              <input type="text" placeholder="请输入用户邮箱" name="email" id="email" style="width: 150px; margin-left: 20px">
              <button id="findBtn" type="submit" style="margin-left: 10px; height: 30px; width: 70px;" onclick="searchuser()">查询</button>
               <a th:href="@{/admin/users}">   <button id="showusers" type="submit" style="margin-left: 10px; height: 30px; width: 70px;">刷新</button></a>
              </form>
          </div><!--tableoptions-->

            <div id="userTable" th:fragment="userTable">
          <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
              <colgroup>
                  <col class="con0" style="width: 4%" />
                  <col class="con1" />
                  <col class="con0" />
                  <col class="con1" />
                  <col class="con0" />
                  <col class="con1" />
                  <col class="con0" />
              </colgroup>
              <thead>
                  <tr>
                 <!--<input type="checkbox" class="checkall" />-->  <th class="head0"></th>
                      <th class="head0">ID</th>
                      <th class="head1">UserName</th>
                      <th class="head0">Password</th>
                      <th class="head1">E-mail</th>
                      <th class="head0">Type</th>
                      <th class="head1">Status</th>
                      <th class="head0">操作</th>
                  </tr>
              </thead>

              <tbody>
                <tr th:each="user:${users}">
                  <td align="center"><input type="checkbox" /></td>
                    <td th:text="${user.id}">mark</td>
                    <td th:text="${user.username}">mark</td>
                    <td th:text="${user.password}">******</td>
                    <td th:text="${user.email}">56785190@qq.com</td>
                    <td class="center" th:text="${user.type}">1</td>
                    <td class="center" th:text="${user.status}">X</td>
                    <td class="center">
                        <a th:href="@{/findUsers(id=${user.id})}" class="edit">编辑</a> &nbsp;|&nbsp;
                        <a th:href="@{/delUsers(id=${user.id})}" class="delete" onclick="deluser()">删除</a></td>
                </tr>


            </tbody>
          </table>
            </div>
            <div class="pager" style="margin-top: 20px; margin-left: 800px;">
                <div class="pages">
                    <!--<strong></strong>-->
                    <ol class="pagination" style="background-color: #ffffff">
                        <li class="page-item" >
                            <a class="page-link">首页</a>
                        </li>
                        <li class="page-item" >
                            <a class="page-link" >上一页</a></li>
                        <!--						page对象中的from和to决定了导航条的页面数量-->
                        <li class="page-item" >
                            <a class="page-link" style="margin-left: 5px;">1</a>
                        </li>
                        <li class="page-item" >
                            <a class="page-link">下一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">末页</a>
                        </li>
                    </ol>
                </div>
            </div>
          <br /><br />
                
        
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>

<script>

    function deluser(){
        if(confirm("确实要删除该用户吗?")){
            alert("删除成功！");
        }else{
            event.preventDefault(); //取消默认应答
            alert("取消了删除操作");
        }
    }
    function searchuser(){
        alert("查询成功！");
    }
</script>


</html>
